body {
  display: flex;
  justify-content: center;
  align-items: center;
}

h3 {
  text-align: center;
}

input {
margin-right: 20px;
margin-left: 40px;
}

ul {
  margin-top: 20px;
}

.badge {
  margin-left: 40px;
}

a {
  margin-left: 40px;
}

.btn {
  width: 5rem;
}